@define-color selected-text #cccccc;
@define-color text #7a8c91;
@define-color base #03192c;
@define-color border #cccccc;
@define-color foreground #7a8c91;
@define-color background #03192c;

.box-wrapper {
    border: 1px solid @border;
    border-radius: 2px;
}